@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

* {
    font-family: 'Dancing Script', cursive;
    margin: 0;
    padding: 0;
}

header {
    background-color: burlywood;
    letter-spacing: 5px;
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;
}

header img{
    height: 120px;
    width: 200px;
}

.navigation ul{
    display: flex;
    list-style: none;
    align-items: center;
}

.navigation li{
    margin: 0 50px;
    height: 100%;
    cursor: pointer;
}

.navigation li:first-child{
    margin-left: 0;
}

.navigation :hover{
    color: darkolivegreen;
}

.navigation :active {
    color: cornflowerblue;
}

.hide {
    display: none;
}

a {
    font-size: x-large;
    font-weight: 800;
    text-decoration: none;
}

.section{
    margin-top: 150px;
}

.section h2{
    color: darkolivegreen;
    margin: auto;
    font-size: larger;
    font-weight: 600;
    width: fit-content;
    text-decoration: underline;
    align-items: center;
}

.section h3{
    margin: auto;
    margin-top: 20px;
    width: fit-content;
    align-items: center;
}

.container-main {
    padding: 5px;
    width: 900px;
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container-secondary {
    padding: 5px;
    width: fit-content;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.goods {
    display: flex;
    margin-bottom: 5px;
    margin-left: 5px;
}

.goods img{
    width: 280px;
    height: 340px;
    cursor: pointer;
}

.flexcontainer{
    flex-direction: column;
    align-items: center;
}

.goods:hover{
    outline: thick double darkolivegreen;
}

.product-name{
    justify-content: center;
}

button {
    margin: 5px;
    padding: 5px;
    background-color: rgb(107, 107, 107);
    border: none;
    border-radius: 5px;
    color: wheat;
    cursor: pointer;
    font-size: medium;
    width: fit-content;
    margin: auto;
    display: block;
    margin-top: 10px;
}

button:hover {
    opacity: 0.7;
}

footer {
    background-color: burlywood;
    height: 30px;
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
}

@media (max-width:750px){
    header {
        letter-spacing: 3px;
    }
    
    header img{
        height: 80px;
        width: 160px;
    }

    .navigation li{
        margin: 0 30px;
    }

    .section{
        margin-top: 100px;
    }
}

@media (max-width:585px){

    .goods img{
        width: 140px;
        height: 170px;
    }
}

@media (max-width:500px){

    header img{
        display: none;
    }
    .hide{
        display: flex;
    }

    .navigation li:nth-child(2){
        margin-left: 0;
    }

    .navigation li{
        margin: 0 5px;
    }

    .section{
        margin-top: 40px;
    }
    
    .section h2{
        font-weight: 300;
        text-align: center;
    }

    .section h3{
        margin-top: 20px;
        text-align: center;
    }
 
    .container-main {
        width: 80%;
    }
}

@media (max-width:360px){
    .section{
        margin-top: 80px;
    }
}